* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 170px;
    min-height: 100vh;
    border-right: 2px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transform: translateX(0px);
    transition: all .3s ease;
    z-index: 1000;
}
.sidebar.hide {
    transform: translateX(-170px);
}


.nav__links ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav__links ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__links ul li a {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-radius: 100px;
    padding: 5px 10px;
    color: #000;
    background-color: transparent;
    transition: all 0.3s ease;
}
.nav__links ul li a.active {
    background-color: salmon;
    color: #fff;
}
.nav__links ul li a.active i {
    background-color: salmon;
    color: #fff;
}
.nav__links ul li a i {
    color: salmon;
}
h4.nav__desc {
    font-weight: 600;
    color: #000;
}

.copyright {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
}

.hamburger {
    position: absolute;
    top: 50px;
    right: -60px;
    padding: 5px;
    border: 2px solid #727272;
    background-color: #fff;
}
#ham__input {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}
.ham__item {
    width: 35px;
    height: 2px;
    border-radius: 10px;
    background-color: #727272;
    display: block;
    margin: 6px 0;
}

/* section main */
.sidebar.hide ~ .main-content {
    margin-left: 0px;
}
section.main-content {
    width: 100%;
    margin-left: 170px;
    transition: margin-left 0.3s ease;
}
.section__content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}